@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}




header 
{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.03);
}




header h1
{
    font-size: 1.1em;
    color: #555;
    cursor: pointer;
    padding: 10px;
}




header h1 spanA
{
    color: #b66116;
}




header img 
{
    width: 27px;
}







header .container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2.5px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 35px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


nav 
{
    flex: 1;
    text-align: right;
}



nav ul li 
{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}



nav ul li a 
{
    font-size: 1em;
    color: #000;
}



nav ul li a:hover
{
    color: rgba(0,0,0,0.2);
    transition: 0.3s;
}






.loader
{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    top: 0%;
    left: 0%;
}







.loader .loadera {
  width: 175px;
  height: 80px;
  display: block;
  margin: auto;
  background-image: radial-gradient(circle 25px at 25px 25px, #999 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #999 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #999 100%, transparent 0), linear-gradient(#999 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}
.loader .loadera::after {
  content: '';  
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #FF3D00;
  box-sizing: border-box;
  animation: fadePush 1s linear infinite;
}
.loader .loadera::before {
  content: '';  
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FF3D00;
  box-sizing: border-box;
  animation: fadePush 1s linear infinite;
}

@keyframes fadePush {
  0% {
    transform: translate(-50%, -15px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 15px);
    opacity: 0;
  }
}




.loader h1
{
    position: absolute;
    font-size: 2em;
    color: #888;
    margin-top: 20rem;
}






@media only screen and (max-width: 970px) {


nav ul 
{
    position: absolute;
    width: 100%;
    background: #999;
    top: 50px;
    backdrop-filter: blur(25px);
    right: 0px;
}



nav ul li 
{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}



nav ul li a 
{
    font-size: 0.88em;
    color: #fff;
    margin: 0.5rem;
}



nav ul li a:hover 
{
    color: rgba(255,255,255,0.2);
    transition: 0.3s;
}




header .container {
  display: block;
  margin-right: 6px;
}



#menuList
{
    overflow: hidden;
    transition: 0.5s;
}




.home 
{
    width: 100%;
    height: 750px;
    background: rgb(220,217,215);
background: linear-gradient(0deg, rgba(220,217,215,1) 0%, rgba(255,255,255,1) 100%);
    padding: 125px 15px;
}




.home .row 
{
    display: block;
    justify-content: center;
}




.home .row .words h1
{
    font-size: 1.8em;
    color: #222;
    line-height: 33px;
}



.home .row .words p
{
    font-size: 1em;
    color: #888;
    margin-top: 1rem;
}




.home .row .words a
{
    display: inline-block;
    padding: 12px 35px;
    font-size: 1em;
    background: #b66116;
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
    transition: 0.3s;
}





.home .row .words a:hover
{
    background: #985020;
    color: rgba(255,255,255,0.4);
    transition: 0.3s;
}





.home .row .img
{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}




.home .row .img img
{
    width: 250px;
}




.home .down
{
    display: flex;
    justify-content: center;
}




.home .down h4
{
    font-size: 0.8em;
    color: #555;
    margin-top: 5rem;
}




/******About******/



.about 
{
    width: 100%;
    height: 820px;
    background: #fff;
}




.about h1 
{
    font-size: 1.7em;
    color: #222;
    padding: 15px;
}




.about p 
{
    font-size: 1em;
    color: #888;
    padding: 15px;
    margin-top: -1.3rem;
}





.about .img2
{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}




.about .img2 img 
{
    width: 90%;
}




.about .wrd
{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}




.about .wrd .word
{
    font-size: 1.5em;
    color: #555;
}




.about .post 
{
    display: flex;
    justify-content: center;
}




.about .post img 
{
    position: absolute;
    width: 65px;
    margin-top: 5rem;
}






/*********Save*********/


.save 
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.03);
}



.save h1
{
    position: absolute;
    font-size: 1.4em;
    color: #222;
    left: 4%;
    margin-top: 0.6rem;
}




.save form
{
    margin-top: 4rem;
    padding: 20px;
}



.save form label
{
    font-size: 1.3em;
    color: orange;
    margin-top: 0.7rem;
}



.save form input
{
    width: 340px;
    height: 38px;
    padding: 7px;
    font-size: 1em;
    border: 0.6px solid #999;
    border-radius: 3px;
    margin-top: 0.3rem;
}



.save form p
{
    font-size: 1.3em;
    color: #777;
    margin-top: 0.3rem;
}



.save form .typ label
{
    position: absolute;
    font-size: 1em;
    color: #222;
    margin-top: 0.2rem;
    margin-left: 3px;
}



.save form .typ input
{
    width: 18px;
    height: 18px;
    margin-top: 0.2rem;
}




.save form .button
{
    margin-top: 1rem;
}



.save form .button button
{
    padding: 11px 35px;
    display: inline-block;
    background: orange;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    border: none;
}





.save .words2
{
    position: absolute;
    margin-top: 32rem;
    left: 4%;
}




.save .words2 h2
{
    font-size: 1.4em;
    color: #f00;
}



.save .words2 h3
{
    font-size: 1.3em;
    color: #444;
}



.save .words2 h4
{
    font-size: 1.2em;
    color: #222;
}




.save .words2 h5
{
    font-size: 1.2em;
    color: #555;
}



.save .words2 p
{
    font-size: 1em;
    color: #888;
}






/***********About2***********/


.about2 
{
    width: 100%;
    height: 830px;
    background: #fff;
}




.about2 h1
{
    font-size: 1.5em;
    color: #222;
    padding: 15px;
}




.about2 p
{
    font-size: 0.9em;
    color: #888;
    padding: 15px;
    margin-top: -1.2rem;
}







.about2 .img1 
{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}






.about2 .img1 img 
{
    width: 100%;
}





.about2 .one 
{
    font-size: 1em;
    color: #777;
    margin-top: 3.2rem;
    padding: 15px;
}





.about2 .img2
{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}






.about2 .img2 img 
{
    width: 100%;
}




.about2 .down
{
    font-size: 1em;
    padding: 15px;
    margin-top: 3rem;
}








}